@archiveHeaderWidth: 600px;
@svgHeight: 20px;
@numHeight: 30px;
@interval: 20px;

.archive-header-area {
  margin: @interval 0;
  .archive-header {
    width: @archiveHeaderWidth;
    margin: 0 auto;
    .archive-header-topic {
      width: 100%;
      overflow: hidden;
      p {
        width: @archiveHeaderWidth - 2 * @svgHeight;
      }
      div:first-child {
        height: @svgHeight;
        svg {
          float: left;
        }
      }
      div:last-child {
        height: @svgHeight;
        svg {
          float: right;
        }
      }
      div {
        width: 100%;
        svg {
          height: @svgHeight;
          fill: #545454;
        }
        p {
          margin: 10px @svgHeight;
          font-size: 16px;
          line-height: 2rem;
          text-align: center;
        }
      }
    }
    .archive-header-submit {
      width: 100%;
      float: initial !important;
    }
    .archive-header-num {
      width: 100%;
      height: @numHeight;
      p {
        line-height: @numHeight;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.43);
        text-align: center;
      }
    }
  }
}
