@import '~antd/dist/antd.less';

@primary-color: #4b4c65;
#root {
  .epidemic-header {
    background: #fff;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
  }
  .epidemic-content {
    position: relative;
    height: calc(100vh - 64px);
    overflow-y: auto;
    padding: 32px;
    overflow: hidden;
  }
  .epidemic-menu {
    height: calc(100vh - 64px);
    overflow-y: auto;
    box-shadow: -1px 1px 0 0 @primary-menu-background-color;
    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style: none;
    /*火狐下隐藏滚动条*/
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
      display: none;
    }
    .ant-menu-submenu-title {
      &:active {
        background-color: @primary-menu-background-color;
      }
    }
    .epidemic-sider-menu {
      .ant-menu-item {
        &.ant-menu-item-active {
          background-color: @primary-menu-background-color;
        }
        & > a {
          color: rgba(0, 0, 0, 0.85);
        }
        &:hover {
          color: @primary-menu-color;
          a {
            color: @primary-menu-color;
          }
        }
        &::after {
          border-right: 3px solid @primary-menu-color !important;
        }
      }
      .ant-menu-item-selected {
        background-color: @primary-menu-background-color !important;
        color: @primary-menu-color;
        &:hover,
        .anticon,
        a {
          color: @primary-menu-color;
        }
      }
    }
  }
  .epidemic-triggle {
    width: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(-1px);
    z-index: 100;
    > span {
      overflow: hidden;
      width: 12px;
      font-size: 50px;
      transform: translateX(0.7px);
      cursor: pointer;
    }
  }
  .open-content {
    position: relative;
    height: calc(100vh - 64px);
    overflow-y: auto;
    padding: 32px;
  }
}
